<html>
    <head>
        <link href='css/article.css' type='text/css' rel='stylesheet'>
        <link href='css/pygments.css' type='text/css' rel='stylesheet'>
        <link href='bower_components/bootstrap/dist/css/bootstrap.min.css' type='text/css' rel='stylesheet'>
    </head>

    <body class='my-body'>
        <div class="navbar navbar-inverse custom-navbar">
            <div class='container'>
                <a class="navbar-brand" href="index.html">Preom's Blog</a>
                <ul class="nav navbar-nav pull-right">
                    <li class="active">
                        <a href="#">Blog Posts</a>
                    </li>
                    <li>
                        <a href="/tags">Tags</a>
                    </li>
                    <li>
                        <a href="#">About Me</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class='container'>
            <div class='header-section'>
                <div class='luwak-date text-center pull-right'></div> 
                <br>

                <h1 class='text-center title'>
                    <span class='luwak-title'></span>
                    <br>
                    <small class='subtitle luwak-subtitle'></small>
                </h1>


                <p class='intro'>
                    <span class='luwak-intro'></span>
                </p>
            </div>

            <hr>

            <br>

            <p class='summary'>
            </p>

            <div class='luwak-content'>
            </div>

            <div class='tag-container'> 
                <div class='row'>
                    <div class='col-md-12'>
                        <div class='luwak-tags pull-right'></div>
                    </div>
                </div>

            </div>

            <nav>
                <ul class='pager'>
                    <li class='luwak-prev previous'></li>
                    <li class='to-top'>
                        <a href='#'>
                            <span class='glyphicon glyphicon-arrow-up'></span>
                        </a>
                    </li>
                    <li class='luwak-next next'></li>
                </ul>
            </nav>
        </div> <!-- End of container -->    

        <div class='footer-row'>
            <div class='container'>
                <div class='message'>
                    Built with Luwak
                </div>
            </div>
        </div>

    </body>
</html>
