<html>
    <head>
        <link href='css/article.css' type='text/css' rel='stylesheet'>
        <link href='css/pygments.css' type='text/css' rel='stylesheet'>
        <link href='bower_components/bootstrap/dist/css/bootstrap.min.css' type='text/css' rel='stylesheet'>
    </head>

    <body class='my-body'>
        <div class="navbar navbar-inverse custom-navbar">
            <div class='container'>
                <a class="navbar-brand" href="index.html">Preom's Blog</a>
                <ul class="nav navbar-nav pull-right">
                    <li class="active">
                        <a href="#">Blog Posts</a>
                    </li>
                    <li>
                        <a href="#">Tags</a>
                    </li>
                    <li>
                        <a href="#">About Me</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class='container'>
            <div class='luwak-index'>
            </div>

            <div class='luwak-pagination'>
            </div>

        </div>
    </body>
</html>
